In [ ]:
+!pip install  scikit-learn==1.1.2

In [1]:
import pandas as pd
import numpy as np
from math import ceil
from google.colab import drive
import pickle
import warnings
warnings.filterwarnings("ignore")
from sklearn.datasets import load_boston
from random import seed
from random import randrange
from csv import reader
from math import sqrt
from sklearn import preprocessing
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from tqdm import tqdm
import os
from collections import Counter
import string
from sklearn import metrics
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import SGDRegressor

import datetime
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
sklearn.__version__

In [3]:
parent_path = '/content/drive/MyDrive/tfl_data/data/'

In [4]:
tube_df = pd.read_csv(str(parent_path) + '/20200101_20210429_TUBE.csv')
lockdown_df = pd.read_csv(str(parent_path) + '/LOCKDOWN_PHASES.csv')
station_name_df = pd.read_csv(str(parent_path) + '/NLC_STATIONNAME.csv')
period_df  = pd.read_csv(str(parent_path) + '/PERIOD.csv')
restrictionsweekly_df = pd.read_csv(str(parent_path) + '/restrictions_weekly.csv')
xy_df  = pd.read_csv(str(parent_path) + '/XY.csv')
xy_df.drop(['X','Y'],axis=1,inplace=True)
period_df.rename(columns={"QHR": "HOUR"},inplace=True)
tube_df.head(5)

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/tfl_data/data//20200101_20210429_TUBE.csv'

#### Extract DateTime features from the given Date

In [ ]:
# change the format of date column
tube_df['CALENDARDATE'] = pd.to_datetime(
    tube_df['CALENDARDATE'].apply(lambda x: x.replace('/','-')),
    format='%d-%m-%Y'
    )
tube_df.head()

  CALENDARDATE  DOW  NLC SUBSYSTEM  HOUR ENTRYEXIT   N
0   2020-01-01  WED  500        LU  4.50     Entry  18
1   2020-01-01  WED  500        LU  4.50      Exit  11
2   2020-01-01  WED  500        LU  4.75     Entry  18
3   2020-01-01  WED  500        LU  4.75      Exit  17
4   2020-01-01  WED  500        LU  5.00     Entry  27

In [ ]:
# change the format of date column
lockdown_df['CALENDARDATE'] = pd.to_datetime(
    lockdown_df['CALENDARDATE'].apply(lambda x: x.replace('/','-')),
    format='%d-%m-%Y'
    )

In [ ]:
def week_of_month(dt):
    """ Returns the week of the month for the specified date.
    """
    first_day = dt.replace(day=1)

    dom = dt.day
    adjusted_dom = dom + first_day.weekday()

    return int(ceil(adjusted_dom/7.0))

def extract_days(df):
  df['year'] = pd.DatetimeIndex(df['CALENDARDATE']).year
  df['month'] = pd.DatetimeIndex(df['CALENDARDATE']).month
  # day of week- 0 = monday and 6=sunday
  df['day_of_week'] = pd.DatetimeIndex(df['CALENDARDATE']).dayofweek
  # is it a weekend
  df['is_weekend'] = [1 if (x == 5) or (x==6)  else 0 for x in df['day_of_week']]
  # which week of the Year
  df['week'] = pd.DatetimeIndex(df['CALENDARDATE']).week
  # which week of the Month
  df['week_month'] = [week_of_month(i) for i in list(df['CALENDARDATE'])]
  return df

#### Choose th start date and EndDate for the Modelling and feature Engineering

In [ ]:
start_date = pd.to_datetime('2020-09-15')
end_date = pd.to_datetime('2020-10-19')

lockdown_df = lockdown_df.loc[(lockdown_df['CALENDARDATE'] >= start_date)
                     & (lockdown_df['CALENDARDATE'] < end_date)]

tube_df_sub = tube_df.loc[(tube_df['CALENDARDATE'] >= start_date)
                     & (tube_df['CALENDARDATE'] < end_date)]

In [ ]:
# delete additional dataframes for memory issues
del tube_df

In [ ]:
# merge the Dataframes

# merge 1 - Merge of NLC for the latitude and longitude- Features
tube_location = tube_df_sub.merge(xy_df, on='NLC', how='left')
# Merge -2 -  Merge On calender Date of tube daily data with Lockdown data
tube_location_lockdown = tube_location.merge(lockdown_df, on='CALENDARDATE', how='inner')
# merge -3 - merge on station name 
tube_location_lockdown_name = tube_location_lockdown.merge(station_name_df, on='NLC', how='left')
# merge on the time of tap based on period
tube_location_lockdown_name = tube_location_lockdown_name.merge(period_df, on='HOUR', how='left')

In [ ]:
del tube_location,lockdown_df,xy_df,tube_df_sub,tube_location_lockdown,period_df,restrictionsweekly_df,station_name_df

In [ ]:
tube_location_lockdown_name  = extract_days(tube_location_lockdown_name)

In [ ]:
tube_location_lockdown_name.columns

Index(['CALENDARDATE', 'DOW', 'NLC', 'SUBSYSTEM', 'HOUR', 'ENTRYEXIT', 'N',
       'CODE', 'ZONE', 'LAT', 'LONG', 'LOCKDOWN_NATIONAL', 'LOCKDOWN_REGIONAL',
       'SHOPS_CLOSED', 'PUBS_CLOSED', 'SCHOOLS_CLOSED', 'STATIONNAME', 'MODE',
       'BOROUGH', 'STATIONTYPE', 'NAPTAN', 'PERIOD', 'year', 'month',
       'day_of_week', 'is_weekend', 'week', 'week_month'],
      dtype='object')

In [ ]:
# create a Dataframe which has time and its associated PERIOD
time_order  = tube_location_lockdown_name[['HOUR','PERIOD']].groupby('HOUR').agg({
    'PERIOD':lambda x: list(set(x))[0]
    }).reset_index()

# create a partition for the Period and rank them by the HOUR
list_1 = list(tube_location_lockdown_name[['HOUR','PERIOD']].groupby('HOUR').agg({
'PERIOD':lambda x: list(set(x))[0]
}).reset_index().groupby("PERIOD")["HOUR"].rank(method="first", ascending=True))

# all the hour's for each partition are ranked by the HOUR 
time_order['rank'] = list_1

time_order[:40]

      HOUR           PERIOD  rank
0     4.50   EM (0400-0700)   1.0
1     4.75   EM (0400-0700)   2.0
2     5.00   EM (0400-0700)   3.0
3     5.25   EM (0400-0700)   4.0
4     5.50   EM (0400-0700)   5.0
..     ...              ...   ...
99   29.25  NT2 (0100-0400)  18.0
100  29.50  NT2 (0100-0400)  19.0
101  29.75  NT2 (0100-0400)  20.0
102  30.00  NT2 (0100-0400)  21.0
103  30.25  NT2 (0100-0400)  22.0

[104 rows x 3 columns]

In [ ]:
tube_location_lockdown_name = tube_location_lockdown_name.merge(time_order, on='HOUR', how='left')

In [ ]:
tube_location_lockdown_name

,CALENDARDATE,DOW,NLC,SUBSYSTEM,HOUR,ENTRYEXIT,N,CODE,ZONE,LAT,...,NAPTAN,PERIOD_x,year,month,day_of_week,is_weekend,week,week_month,PERIOD_y,rank
0,2020-09-15,TUE,500,LU,4.50,Exit,1,ACT,3.0,51.5028,...,940GZZLUACT,EM (0400-0700),2020,9,1,0,38,3,EM (0400-0700),1.0
1,2020-09-15,TUE,500,LU,4.75,Entry,11,ACT,3.0,51.5028,...,940GZZLUACT,EM (0400-0700),2020,9,1,0,38,3,EM (0400-0700),2.0
2,2020-09-15,TUE,500,LU,4.75,Exit,1,ACT,3.0,51.5028,...,940GZZLUACT,EM (0400-0700),2020,9,1,0,38,3,EM (0400-0700),2.0
3,2020-09-15,TUE,500,LU,5.00,Entry,11,ACT,3.0,51.5028,...,940GZZLUACT,EM (0400-0700),2020,9,1,0,38,3,EM (0400-0700),3.0
4,2020-09-15,TUE,500,LU,5.25,Entry,16,ACT,3.0,51.5028,...,940GZZLUACT,EM (0400-0700),2020,9,1,0,38,3,EM (0400-0700),4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1370979,2020-10-18,SUN,6960,LU,22.75,Entry,2,SFD,3.0,51.5414,...,940GZZLUSTD,NT1 (2200-0100),2020,10,6,1,42,3,NT1 (2200-0100),4.0
1370980,2020-10-18,SUN,6960,LU,22.75,Exit,1,SFD,3.0,51.5414,...,940GZZLUSTD,NT1 (2200-0100),2020,10,6,1,42,3,NT1 (2200-0100),4.0
1370981,2020-10-18,SUN,6960,LU,23.00,Entry,1,SFD,3.0,51.5414,...,940GZZLUSTD,NT1 (2200-0100),2020,10,6,1,42,3,NT1 (2200-0100),5.0
1370982,2020-10-18,SUN,6960,LU,23.00,Exit,1,SFD,3.0,51.5414,...,940GZZLUSTD,NT1 (2200-0100),2020,10,6,1,42,3,NT1 (2200-0100),5.0
1370983,2020-10-18,SUN,6960,LU,23.50,Entry,1,SFD,3.0,51.5414,...,940GZZLUSTD,NT1 (2200-0100),2020,10,6,1,42,3,NT1 (2200-0100),7.0

In [ ]:
tube_location_lockdown_name.columns

Index(['CALENDARDATE', 'DOW', 'NLC', 'SUBSYSTEM', 'HOUR', 'ENTRYEXIT', 'N',
       'CODE', 'ZONE', 'LAT', 'LONG', 'LOCKDOWN_NATIONAL', 'LOCKDOWN_REGIONAL',
       'SHOPS_CLOSED', 'PUBS_CLOSED', 'SCHOOLS_CLOSED', 'STATIONNAME', 'MODE',
       'BOROUGH', 'STATIONTYPE', 'NAPTAN', 'PERIOD_x', 'year', 'month',
       'day_of_week', 'is_weekend', 'week', 'week_month', 'PERIOD_y', 'rank'],
      dtype='object')

In [ ]:
def entry_exit(row):  
    if row['ENTRYEXIT'] == 'Entry':
      return 1
    if row['ENTRYEXIT'] == 'Exit':
      return 0

tube_location_lockdown_name['Entry'] = tube_location_lockdown_name.apply(lambda row: entry_exit(row), axis=1)

#### Remove the Duplicated and Corelated Features

<br> The following are the reasons to be dropped for these columns <br>

<br> 'NAPTAN' -  a random ID for the station which is corelated with stationName </br>
'CODE' - code for each station which is corelated with stationName </br>
 'MODE' -  Which is  a constant and not useful feature </br>
 'SUBSYSTEM' -  is a constant and not useful feature</br>
'DOW' - is represented and day of week as a number and  corelated with day of the week </br>
 'CALENDERDATE' A lot of date features are extracted from the Date and this should not be used for analysis </br>
 "NLC" - is corelated with station name and should be removed </br>
 "period_y" - duplicated feature </br>

In [ ]:
tube_location_lockdown_name[['NAPTAN','STATIONNAME']].apply(lambda x : pd.factorize(x)[0]).corr(method='pearson', min_periods=1)

               NAPTAN  STATIONNAME
NAPTAN       1.000000     0.987772
STATIONNAME  0.987772     1.000000

In [ ]:
print('NAPTAN=',len(set(tube_location_lockdown_name['NAPTAN'])),'STATIONNAME=',len(set(tube_location_lockdown_name['STATIONNAME'])),
'CODE=',len(set(tube_location_lockdown_name['CODE'])),'NLC=',len(set(tube_location_lockdown_name['NLC'])))

NAPTAN= 264 STATIONNAME= 269 CODE= 263 NLC= 270

In [ ]:
tube_location_lockdown_name[['CODE','STATIONNAME']].apply(lambda x : pd.factorize(x)[0]).corr(method='pearson', min_periods=1)

                 CODE  STATIONNAME
CODE         1.000000     0.983036
STATIONNAME  0.983036     1.000000

In [ ]:
tube_location_lockdown_name[['NLC','STATIONNAME']].apply(lambda x : pd.factorize(x)[0]).corr(method='pearson', min_periods=1)

                  NLC  STATIONNAME
NLC          1.000000     0.998737
STATIONNAME  0.998737     1.000000

In [ ]:
tube_location_lockdown_name.drop(['NAPTAN','SUBSYSTEM','CODE','MODE','DOW','CALENDARDATE',"NLC","HOUR",'PERIOD_y','ENTRYEXIT'],axis=1,inplace=True)

In [ ]:
tube_location_lockdown_name.columns

Index(['N', 'ZONE', 'LAT', 'LONG', 'LOCKDOWN_NATIONAL', 'LOCKDOWN_REGIONAL',
       'SHOPS_CLOSED', 'PUBS_CLOSED', 'SCHOOLS_CLOSED', 'STATIONNAME',
       'BOROUGH', 'STATIONTYPE', 'PERIOD_x', 'year', 'month', 'day_of_week',
       'is_weekend', 'week', 'week_month', 'rank', 'Entry'],
      dtype='object')

In [ ]:
tube_location_lockdown_name.rename(columns={"PERIOD_x": "period"},inplace=True)

In [ ]:
tube_location_lockdown_name['period']

0           EM (0400-0700)
1           EM (0400-0700)
2           EM (0400-0700)
3           EM (0400-0700)
4           EM (0400-0700)
                ...
1370979    NT1 (2200-0100)
1370980    NT1 (2200-0100)
1370981    NT1 (2200-0100)
1370982    NT1 (2200-0100)
1370983    NT1 (2200-0100)
Name: period, Length: 1370984, dtype: object

In [ ]:
tube_location_lockdown_name = tube_location_lockdown_name[[
    'ZONE', 'LAT', 'LONG',
    'STATIONNAME', 'BOROUGH', 'STATIONTYPE',
    'year', 'month', 'day_of_week', 'is_weekend', 'week', 'week_month',
    'rank','period','Entry','N'
]]

###TEST

In [ ]:
df_city = tube_location_lockdown_name[['STATIONNAME','LAT','LONG','STATIONTYPE','ZONE','BOROUGH']].groupby('STATIONNAME').agg({
    'LAT': lambda x: list(set(x))[0] ,
    'LONG' : lambda x: list(set(x))[0],
    'STATIONTYPE': lambda x: list(set(x))[0],
    'ZONE' : lambda x: list(set(x))[0],
    'BOROUGH' : lambda x: list(set(x))[0]
    }).reset_index()

In [ ]:
def get_city(city):

  station_type = df_city[df_city['STATIONNAME']==city]['STATIONTYPE']
  borough = df_city[df_city['STATIONNAME']==city]['BOROUGH']
  zone = df_city[df_city['STATIONNAME']==city]['ZONE']
  lat = df_city[df_city['STATIONNAME']==city]['LAT']
  longitude = df_city[df_city['STATIONNAME']==city]['LONG']
  
  return city,station_type,borough,zone,lat,longitude

In [ ]:
df_city

        STATIONNAME      LAT    LONG   STATIONTYPE  ZONE               BOROUGH
0        Acton Town  51.5028 -0.2802  Outer Suburb   3.0                Ealing
1           Aldgate  51.5143 -0.0756          City   1.0        City of London
2      Aldgate East  51.5153 -0.0723          City   1.0         Tower Hamlets
3          Alperton  51.5408 -0.2994  Outer Suburb   4.0                 Brent
4          Amersham  51.6742 -0.6074  Outer Suburb   9.0       Buckinghamshire
..              ...      ...     ...           ...   ...                   ...
264  Wimbledon Park  51.4345 -0.1996  Outer Suburb   3.0                Merton
265      Wood Green  51.5975 -0.1096  Outer Suburb   3.0              Haringey
266       Wood Lane  51.5100 -0.2242  Inner Suburb   2.0  Hammersmith & Fulham
267        Woodford  51.6071  0.0340  Outer Suburb   4.0             Redbridge
268   Woodside Park  51.6179 -0.1854  Outer Suburb   4.0                Barnet

[269 rows x 6 columns]

In [ ]:
def extract_date(string_1):
  string_1 = pd.to_datetime(
    string_1.replace('/','-'),
    format='%d-%m-%Y'
    )
  year = string_1.year
  month = string_1.month
  day_of_week = string_1.dayofweek
  is_weekend = 1 if (day_of_week ==5) or (day_of_week==6)  else 0
  week = string_1.week
  week_month = week_of_month(string_1)

  return year,month,day_of_week,is_weekend,week,week_month

#### Train a Model

In [ ]:
tube_location_lockdown_name.head(10)

,ZONE,LAT,LONG,STATIONNAME,BOROUGH,STATIONTYPE,year,month,day_of_week,is_weekend,week,week_month,rank,period,Entry,N
0,3.0,51.5028,-0.2802,Acton Town,Ealing,Outer Suburb,2020,9,1,0,38,3,1.0,EM (0400-0700),0,1
1,3.0,51.5028,-0.2802,Acton Town,Ealing,Outer Suburb,2020,9,1,0,38,3,2.0,EM (0400-0700),1,11
2,3.0,51.5028,-0.2802,Acton Town,Ealing,Outer Suburb,2020,9,1,0,38,3,2.0,EM (0400-0700),0,1
3,3.0,51.5028,-0.2802,Acton Town,Ealing,Outer Suburb,2020,9,1,0,38,3,3.0,EM (0400-0700),1,11
4,3.0,51.5028,-0.2802,Acton Town,Ealing,Outer Suburb,2020,9,1,0,38,3,4.0,EM (0400-0700),1,16
5,3.0,51.5028,-0.2802,Acton Town,Ealing,Outer Suburb,2020,9,1,0,38,3,4.0,EM (0400-0700),0,2
6,3.0,51.5028,-0.2802,Acton Town,Ealing,Outer Suburb,2020,9,1,0,38,3,5.0,EM (0400-0700),1,21
7,3.0,51.5028,-0.2802,Acton Town,Ealing,Outer Suburb,2020,9,1,0,38,3,5.0,EM (0400-0700),0,7
8,3.0,51.5028,-0.2802,Acton Town,Ealing,Outer Suburb,2020,9,1,0,38,3,6.0,EM (0400-0700),1,23
9,3.0,51.5028,-0.2802,Acton Town,Ealing,Outer Suburb,2020,9,1,0,38,3,6.0,EM (0400-0700),0,15

In [ ]:
tube_location_lockdown_name.columns

Index(['ZONE', 'LAT', 'LONG', 'STATIONNAME', 'BOROUGH', 'STATIONTYPE', 'year',
       'month', 'day_of_week', 'is_weekend', 'week', 'week_month', 'rank',
       'period', 'Entry', 'N'],
      dtype='object')

In [ ]:
df_X  = tube_location_lockdown_name.drop(['N'],axis=1)

In [ ]:
enc = OneHotEncoder()
encoder = enc.fit(df_X)
train_X = encoder.transform(df_X)
train_y = list(tube_location_lockdown_name['N'])

In [ ]:
test_X = encoder.transform(df_X[:1000])
test_y = list(tube_location_lockdown_name[:1000]['N'])

In [ ]:
pickle.dump(encoder,open('encoding.pkl','wb'))

In [ ]:
sklearn_model = SGDRegressor(penalty=None,loss='squared_loss',alpha=0,max_iter=10000,verbose=0)
sklearn_model.fit(train_X, train_y)

SGDRegressor(alpha=0, loss='squared_loss', max_iter=10000, penalty=None)

In [ ]:
Y_predicted=sklearn_model.predict(test_X)
sklearn_model_MSE=mean_squared_error(Y_predicted,test_y)
print('Test Loss',sklearn_model_MSE)

853.9605323876009

In [ ]:
Y_predicted_train=sklearn_model.predict(train_X)
sklearn_model_MSE=mean_squared_error(Y_predicted_train,train_y)
print('Train Loss',sklearn_model_MSE)

3962.6617601576854

In [ ]:
pickle.dump(sklearn_model,open('regmodel.pkl','wb'))
df_city.to_csv('df_city.csv')
time_order.to_csv('time_order.csv')

# Part-2

## Model Predictions example

In [ ]:
# json_1= {
#   "data": {
#     "STATIONNAME": "Woodford",
#     "TIME": "15:15",
#     "DATE": "15-10-2020",
#     "LOCKDOWN": 0,
#     "ENTRY_EXIT": 0,
#   }
# }

In [ ]:
# import json
# with open('data.json', 'w') as f:
#     json.dump(json_1, f)

In [ ]:
# import pickle
# from math import ceil
# from flask import Flask,request,app,jsonify,url_for,render_template

# app=Flask(__name__)
# ## Load the model
# regmodel=pickle.load(open('regmodel.pkl','rb'))
# encoding=pickle.load(open('encoding.pkl','rb'))
# df_station_name = pd.read_csv('df_city.csv')
# time_order = pd.read_csv('time_order.csv')

# def get_station_name(station_name):
#   station_type = list(df_station_name[df_station_name['STATIONNAME']==station_name]['STATIONTYPE'])[0]
#   borough = list(df_station_name[df_station_name['STATIONNAME']==station_name]['BOROUGH'])[0]
#   zone = list(df_station_name[df_station_name['STATIONNAME']==station_name]['ZONE'])[0]
#   lat = list(df_station_name[df_station_name['STATIONNAME']==station_name]['LAT'])[0]
#   longitude = list(df_station_name[df_station_name['STATIONNAME']==station_name]['LONG'])[0]
#   return zone,lat,longitude,station_name,borough,station_type

# def week_of_month(dt):
#     """ Returns the week of the month for the specified date.
#     """
#     first_day = dt.replace(day=1)
#     dom = dt.day
#     adjusted_dom = dom + first_day.weekday()
#     return int(ceil(adjusted_dom/7.0))

# def extract_date(string_1):

#   string_1 = pd.to_datetime(
#     string_1.replace('/','-'),
#     format='%d-%m-%Y'
#     )
#   year = string_1.year
#   month = string_1.month
#   day_of_week = string_1.dayofweek
#   is_weekend = 1 if (day_of_week ==5) or (day_of_week==6)  else 0
#   week = string_1.week
#   week_month = week_of_month(string_1)
#   return year,month,day_of_week,is_weekend,week,week_month

# # only consider 4:00-1:00

# def time_hour(a):
#   a_list  = a.split(':')
#   k = int(a_list[1])//15 
#   hour = int(a_list[0])
#   if hour < 1:
#     hour = hour+24
#   if k==0:
#     decimel = 0
#   if k==1:
#     decimel =0.25
#   if k==2:
#     decimel= 0.50
#   if k==3:
#     decimel= 0.75

#   final_time = hour  + decimel

#   return float(final_time)

# @app.route('/')
# def home():
#     return render_template('home.html')

# @app.route('/predict_api',methods=['POST'])
# def predict_api(json_1):
#     data=json_1['data']

#     station_name = data['STATIONNAME']
#     time = data['TIME']
#     date_1 = data['DATE']
#     is_lockdown = data['LOCKDOWN']
#     entry_exit = data['ENTRY_EXIT']

#     zone,lat,longitude,station_name,borough,station_type = get_station_name(station_name)
#     year,month,day_of_week,is_weekend,week,week_month = extract_date(date_1)
#     hour = time_hour(time)
#     period = list(time_order[time_order['HOUR']==hour]['PERIOD'])[0]
#     rank = list(time_order[time_order['HOUR']==hour]['rank'])[0]

#     list_values = [
#     zone,lat,longitude,
#     station_name,borough,station_type,
#     year,month,day_of_week,is_weekend,week,week_month,
#     rank,period,entry_exit
#     ]

#     new_data=encoding.transform([list_values])
#     output=regmodel.predict(new_data)

#     return int(output[0])


# def predict(json_1):
#     data=json_1['data']
#     station_name = data['STATIONNAME']
#     time = data['TIME']
#     date_1 = data['DATE']
#     is_lockdown = data['LOCKDOWN']
#     entry_exit = data['ENTRY_EXIT']

#     zone,lat,longitude,station_name,borough,station_type = get_station_name(station_name)
#     year,month,day_of_week,is_weekend,week,week_month = extract_date(date_1)
#     hour = time_hour(time)
#     period = list(time_order[time_order['HOUR']==hour]['PERIOD'])[0]
#     rank = list(time_order[time_order['HOUR']==hour]['rank'])[0]

#     list_values = [
#     zone,lat,longitude,
#     station_name,borough,station_type,
#     year,month,day_of_week,is_weekend,week,week_month,
#     rank,period,entry_exit
#     ]

#     print(list_values)
#     print(data_1)
#     new_data=encoding.transform(data_1)
#     print(new_data)
#     output=int(regmodel.predict(new_data)[0])
#     return output

# predict_api(json_1)

67

In [ ]:
predict(json_1)

[4.0, 51.6071, 0.034, 'Woodford', 'Redbridge', 'Outer Suburb', 2020, 10, 3, 0, 42, 3, 10.0, 'IP2 (1300-1600)', 0]
   ZONE      LAT   LONG STATIONNAME    BOROUGH   STATIONTYPE  year  month  \
0   4.0  51.6071  0.034    Woodford  Redbridge  Outer Suburb  2020     10

   day_of_week  is_weekend  week  week_month  rank           period  Entry
0            3           0    42           3  10.0  IP2 (1300-1600)      0
  (0, 6)	1.0
  (0, 230)	1.0
  (0, 490)	1.0
  (0, 782)	1.0
  (0, 808)	1.0
  (0, 817)	1.0
  (0, 821)	1.0
  (0, 823)	1.0
  (0, 827)	1.0
  (0, 831)	1.0
  (0, 837)	1.0
  (0, 840)	1.0
  (0, 852)	1.0
  (0, 869)	1.0
  (0, 873)	1.0

67